<section class="creditos" observadoranimaciones="animate" id="creditos">
  <div class="centro responsivo">
    <div class="r-caja caja-2" data-aos="fade-up">
      <h3>Creditos, extras, etc.</h3>
    </div>
    <div class="r-caja caja-2" data-aos="fade-up">
      <p><b>Diseño y programacion</b></p>
      <p>{{ page.author-dev }}</p>
      <p><b>Creditos de contenido adicional</b></p>
      <div class="data-creditos">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer class="footer-2" id="fin">
  <!--<p class="error" style="text-align: center;margin-bottom: 50px;">Aviso: sitio web en construcción, pueden presentarse errores de link, etc. Errores de múltiples índoles.</p>-->
  <div class="footer">
    <div class="responsivo centro-no">
      <div class="r-caja caja-4">
        <p><a href="https://www.instagram.com/sophia_mukho/">Contacto</a> y <a href="{{ "/equipo/" | relative_url }}">Equipo</a></p>
      </div>
      <div class="r-caja caja-4">
        <p>Terminos de uso</p>
      </div>
      <div class="r-caja caja-4">
        <p><a href="{{ "/Privacidad/" | relative_url }}"> Privacidad</a> y <a href="{{ "/cookies/" | relative_url }}">cookies</a></p>
      </div>
      <div class="r-caja caja-auto">
        <p>Leonardo Cahuich © 2024</p>
      </div>
    </div>
  </div>
</footer>