<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Aqui van los css-->

    <!-- Cahuich.framweork-->
    <link rel="stylesheet" href="https://framework.cahuich.com/v0.0.1/css/framework-base.css">
    <link rel="stylesheet" href="https://framework.cahuich.com/v0.0.1/css/framework-estilos.css">
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animaciones.css" />

    {% seo %}

    <!-- Iconos -->
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" sizes="any">
    <link rel="icon" href="{{ site.baseurl }}/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/icon.png">

    <meta name="theme-color" content="#000">

    <!-- Cahuich.framweork-->

    <!-- Panza de pollo-->
    
  </head>