<div class="loader">
    <div class="centro">
      <div class="caja-auto">
        <h2><b>柯素菲</b> Ngo Soufei</h2>
        <h3>Cargando</h3>
      </div>
    </div>
  </div>
    <div class="menu">
        <div class="menu-caja">
          <div class="centro-no">
            <div class="caja-3 caja-texto">
              <h4>Hola, soy Sou fei</h4>
              <p>Este es un texto de ejemplo que estara en el menu para que se vea
                menos vacio.
              </p>
            </div>
            <div class="contra-caja-5 caja-menu">
              <h4>Menu</h4>
              <ul>
                <li>
                  <a href="{{ "/pages/" | relative_url }}">Todos los articulos</a>
                </li>
                <li>
                  <a href="{{ "/galeria/" | relative_url }}">Galería</a>
                </li>
                <li>
                  <a href="{{ "/blog/" | relative_url }}">Blog</a>
                </li>
                <!--<li>
                  <a href="{{ "/Portafolio" | relative_url }}">Portafolio</a>
                </li>-->
                <li>
                  <a href="https://www.instagram.com/sophia_mukho/">Instagram</a>
                </li>
                <li>
                  <a href="{{ "/Acerca-de/" | relative_url }}">Acerca de</a>
                </li>
                <!--<li>
                  <a href="./portafolio.html">Portafolio
                  <p>Encuentra la mayoría de los proyectos externos, etc. En los que he trabajado.</p></a>
                </li>
                <li>
                  <a>Proyectos</a>
                  <p>Proyectos propios en los que he o estoy trabajando actualmente.</p>
                </li>
                <li>
                  <a href="mailto:info@cahuich.com">Contacto
                  <p>Contáctame por si te interesa mi trabajo.</p></a>
                </li>-->
              </ul>
            </div>
            <div class="caja-5 redes">
              <h4>Redes</h4>
              <ul>
                <li>
                  <a href="https://www.instagram.com/leonardo_cahuich?igsh=YzB3anVha3hsOWgz&utm_source=qr">Instagram</a>
                </li>
                <li>
                  <a href="mailto:info@cahuich.com">Email</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <header>
        <div class="nav">
          <div class="titulo">
            <a href="{{ "/" | relative_url }}"><b>柯素菲</b> <span>Ngo Soufei</span></a>
            <!--<a href="{{ my_page.url | relative_url }}" title="{{ my_page.title | escape }}"><span>Leonardo</span> <b>Cahuich</b></a>-->
          </div>
          <!--<div class="sub-titulo">
            <a class="b-none">/ Colección: Muñecos de papel</a>
          </div>-->
          <nav>
            <ul class="links-page">
              <!--<li class="no">
                <a href="#portafolio">Portafolio</a>
              </li>
              <li class="no">
                <a href="mailto:info@cahuich.com">Contacto</a>
              </li>-->
              <span class="menu-pagina">
                <!--<li><a href="{{ "/pages/" | relative_url }}">Articulos</a></li>
                <li><a href="{{ "/colecciones/" | relative_url }}">Colecciones</a></li>
                <li>
                  <a href="{{ "/blog/" | relative_url }}">Blog</a>
                </li>
                <li>
                  <a href="https://www.instagram.com/sophia_mukho/">Instagram</a>
                </li>
                <li><a href="{{ "/Acerca-de/" | relative_url }}">Acerca de</a></li>-->
                <!--<li><a href="#inicio">Inicio</a></li>
                <li><a href="#Portafolio-pagina">Portafolio</a></li>-->
                <!--<li><a href="#inicio">&#9650;</a></li>
                <li><a href="#fin">&#9660;</a></li>-->
                <!--<li>
                  <a>Ejemplo</a>
                </li>-->
              </span>
            </ul>
            <ul class="ul-menu">
              <li class="h-btn" id="menu">
                <a>
                  &#9776
                </a>
              </li>
              <li class="h-btn" id="menu-x">
                <a>&#926</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>