<div class="loader">
    <div class="centro">
      <div class="caja-auto">
        <h2><b>柯素菲</b> Ngo Soufei</h2>
        <h3>Cargando</h3>
      </div>
    </div>
  </div>
    <div class="menu">
        <div class="menu-caja">
          <div class="centro-no">
            <div class="caja-3 caja-texto">
              <h4>Hola, soy Sou fei</h4>
              <p>Este es un texto de ejemplo que estara en el menu para que se vea
                menos vacio.
              </p>
            </div>
            <div class="contra-caja-5 caja-menu">
              <h4>Menu</h4>
              <ul>
                <li>
                  <a href="{{ "/pages/" | relative_url }}">Todos los articulos</a>
                </li>
                <li>
                  <a href="{{ "/galeria/" | relative_url }}">Galería</a>
                </li>
                <li>
                  <a href="{{ "/blog/" | relative_url }}">Blog</a>
                </li>
                <li>
                  <a href="{{ "/Acerca-de/" | relative_url }}">Acerca de</a>
                </li>
              </ul>
            </div>
            <div class="caja-5 redes">
              <h4>Redes</h4>
              <ul>
                <li>
                  <a href="https://www.instagram.com/sophia_mukho/">Instagram</a>
                </li>
                <!--<li>
                  <a href="mailto:info@cahuich.com">Email</a>
                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
    <header>
        <div class="nav">
          <div class="titulo">
            <a href="{{ "/" | relative_url }}"><b>柯素菲</b> <span>Ngo Soufei</span></a>
          </div>
          <nav>
            <ul class="links-page">
              <span class="menu-pagina">
              </span>
            </ul>
            <ul class="ul-menu">
              <li class="h-btn" id="menu">
                <a>
                  &#9776
                </a>
              </li>
              <li class="h-btn" id="menu-x">
                <a>&#926</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>