---
layout: pages
title: Todos las galerías
pagination:
  enabled: true
  category: Galeria
  per_page: 8
  permalink: '/galeria/pag-:num/'
  title: ' - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
---

<script>
  /*<alert("hola");
  $('body').addClass('home');*/
  var elemento = document.querySelectorAll("body");
  for (var i = 0; i < elemento.length; i++) {
    elemento[i].classList.add("inicio-pages");
  }
</script>

<div class="marginador"></div>
<article class="sec sec-basica post-c">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
</article>

<section class="lista-post" id="lista-post">
  <div class="sec sec-basica lista-post-cont">
    <div class="centro-grib">
      <!--{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}-->
      {% for post in paginator.posts %}

      <div class="pc-cajas ngosoufei-com" style="background-color: {{ post.color }} !important;">
        <div class="centro">
          <div class="caja-auto">
            <h4 class="sub-titulo">
              Post
            </h4>
            <h3 class="titulo">
              {{ post.title | escape }}
            </h3>
            <p>
              <a href="{{ post.url | relative_url }}">Ir al sitio</a>
            </p>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h5>{{ post.date | date: date_format }}</h5>

            <!--{%- if site.show_excerpts -%}
          {{ post.excerpt }}
              {%- endif -%}-->
          </div>
        </div>
      </div>
      {%- endfor -%}

    </div>
  </div>
</section>

<section class="sec sec-basica post-c">
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Anterior
    </a>
  {% else %}
    <span class="previous">Anterior</span>
  {% endif %}
  <span class="page_number ">
    Pagina: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Siguiente</a>
  {% else %}
    <span class="next ">Siguiente</span>
  {% endif %}
</div>
</section>

