---
layout: default
---

<script>
  /*<alert("hola");
  $('body').addClass('home');*/
  var elemento = document.querySelectorAll("body");
  for (var i = 0; i < elemento.length; i++) {
    elemento[i].classList.add("inicio");
  }
</script>

<section class="portada" linknav1="Inicio" id="portada">
  <div class="centro" observadoranimacionesunica="animate" id="portada-centro">
    <div class="caja">
      <div class="titulo-pag">
        <div class="titulo titulo-1">
          Ke Sufei
        </div>
        <div class="titulo titulo-2">
          Ngo Soufei
        </div>
        <div class="titulo titulo-3">
          柯素菲
        </div>
      </div>
      <!--<p id="botones"><a href="#Acercademi"  class="btn-1 b-negro"><span class="b-2">Continuar</span></a></p>-->
    </div>
    <div class="datos-background">
      <h6>Fondo: Obra #6 perteneciente a colección Viaje.</h6>
    </div>
  </div>
</section>

<section id="Acercademi" class="sec sec-basica sec-basica-10 inicio-s-1" linknav1="Acerca de mi">
  <div id="Acercademi-centro" class="centro" observadoranimacionesunica="animate">
    <div class="caja">
      <div class="responsivo centro">
        <div class="r-caja caja-auto interior" data-aos="fade-up">
          <!--<h2 class="sub-titulo">
            Tradición funeraria
          </h2>-->
          <h1 class="titulo">
            我總覺得，如果有機會，人生要為了熱愛而活，然後留下一些果實。
          </h1>
          <h1 class="titulo" style="font-weight: normal;">
            經過深思熟慮，發現原來藝術就是我的道路和果實。
            於是，我從藝術荒漠廣州來到藝術之都巴塞羅那，求學、探索、生活。在一次次創作中，重新認識自己，反思身分，
            認識與世界的關係，也在創造自己的表達方式。雕塑和繪畫都是我的詩歌。
          </h1>
        </div>
        <div class="r-caja caja-auto espanol" data-aos="fade-up">
          <h2 style="font-weight: normal;">
            Siempre me parece que (si se permite) uno debe vivir por su pasión y dejar unos frutos.
          </h2>
          <p>
            Después de una profunda consideración, me daba cuenta de que el arte era el camino y fruto de mí.
            Por lo tanto, viajé de cantón, un desierto de arte, a Barcelona, un centro de arte, para estudiar, 
            explorar y vivir. En cientos de creación, me reconozco, reflexiono de mi identidad, 
            reconozco la relación con el mundo, y desarrollo mi propio idioma artística. Escultura y pintura son mi poesía.
          </p>
          <p id="botones"><a href="#colecciones"><span class="b-2">Ver mis colecciones</span></a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="invitacion" class="invitacion sec sec-basica sec-basica-10"  linknav1="Invitación">
  <div class="responsivo centro" observadoranimacionesunica="animate" id="invitacioncentro">
    <div class="r-caja caja-2" data-aos="fade-up">
      <h3><span class="titulo">Te invito a visitar la exposición "Dona" en la Galería DarteArte</span></h3>
      <p>Ahí estaré presentando en conjunto a otras artistas.</p>
      <p><b>Dirección:</b> <a href="https://maps.app.goo.gl/CPvgEWodsxJuetWh7">Galería DarteArte, Carrer dels Pellaires, 33, Sant Martí, 08019 Barcelona.</a></p>
      <p><b>Info de galería:</b> <a href="https://www.instagram.com/darteartepoblenou/">@darteartepoblenou</a></p>
      <p><b>Horario:</b> Viernes 20 Sep 19H - el 20 Oct.</p>
      <p><b>¿Quieres más información?</b></p>
      <p><a href="https://www.instagram.com/sophia_mukho/">@Sophia_mukho</a></p>
    </div>
    <div class="r-caja caja-2 caja-center" data-aos="fade-up">
      <img title="hola" creditos="Leonardo Cahuich" creditos-link="https://cahuich.com" creditos-numero="1" width="400px" height="auto" src="../assets/img/home/Cartel-2.png">
    </div>
  </div>
</section>

<!--<div class="seccion-f">
  <ul>
    {% for post in site.categories.Coleccion %}
        <li>
            <a>{{ post.title | escape }}</a>
            <p>
              <a class="btn-1 b-blanco" href="{{ post.url | relative_url }}"><span class="b-2">Ir a la colección</span></a>
            </p>
            <h5>{{ post.author }}</h5>
        </li>
    {% endfor %}
</ul>
</div>-->

<!--<div class="titulo-col" id="colecciones"  linknav1="Colecciones" observadoranimaciones="animate" id="titulo-col">
  <div class="interior">
    <h1 class="chino">收藏品</h1>
    <p>Colecciones</p>
  </div>
</div>-->
<div class="seccion-t"  id="colecciones"  linknav1="Colecciones" observadoranimacionesunica="animate">
  藝廊 | Galería
</div>
<section class="lista-post-colecciones" observadoranimacionesunica="animate" id="lista-post-colecciones">
  <div class="sec sec-basica lista-post-cont">
    <div class="centro-grib">
      {%- for post in site.categories.Galeria limit : 3 -%}

      <div class="pc-cajas" style="background-color: {{ post.color }} !important;background-image: url({{ post.background }}) !important;">
        <div class="centro">
          <div class="caja-auto">
            <h4 class="sub-titulo">
              Articulo
            </h4>
            <h3 class="titulo">
              {{ post.title | escape }}
            </h3>
            <p>
              <a class="btn-1 b-blanco" href="{{ post.url | relative_url }}"><span class="b-2">Ir a la colección</span></a>
            </p>
            <!--{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}-->
            <h5>{{ post.author }}</h5>
            <!--<h5>{{ post.date | date: date_format }}</h5>-->
          </div>
        </div>
      </div>
      {%- endfor -%}

      <div class="pc-cajas" style="color: #000;">
        <div class="centro">
          <div class="caja-auto">
            <h4 class="sub-titulo">
              Articulo
            </h4>
            <h3 class="titulo">
              Descubre todos mis articulos
            </h3>
            <p>
              <a class="btn-1 b-negro" href="{{ "/pages/" | relative_url }}"><span class="b-2">Ir a la colección</span></a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div id="reciente" class="seccion-t"  linknav1="Reciente" observadoranimacionesunica="animate">
  Articulos reciente
</div>
<section class="lista-post-home" id="lista-post" observadoranimacionesunica="animate">
  <div class="sec sec-basica lista-post-cont">
    <div class="centro-grib">
      {%- for post in site.categories.Blog limit : 3 -%}

      <div class="pc-cajas ngosoufei-com" style="background-color: {{ post.color }} !important;">
        <div class="centro">
          <div class="caja-auto">
            <h4 class="sub-titulo">
              Articulo
            </h4>
            <h3 class="titulo">
              {{ post.title | escape }}
            </h3>
            <p>
              <a href="{{ post.url | relative_url }}">Ir al sitio</a>
            </p>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h5>{{ post.author }}</h5>
            <h5>{{ post.date | date: date_format }}</h5>
          </div>
        </div>
      </div>
      {%- endfor -%}

      <div class="pc-cajas">
        <div class="centro">
          <div class="caja-auto">
            <h4 class="sub-titulo">
              Articulo
            </h4>
            <h3 class="titulo">
              Descubre todos mis articulos
            </h3>
            <p>
              <a class="btn-1 b-negro" href="{{ "/blog/" | relative_url }}"><span class="b-2">Ir a la colección</span></a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
